body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(126, 183, 69);
    margin: 20px;
    font-size: 32px;
    color: rgb(126, 183, 69);
}

.chamada {
    background: rgb(97, 140, 171);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.important {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;

}

.videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.video {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.videos img {
    opacity: 0.5;
    height: 250;
}

.videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}
.video h2{
    color: rgb(126, 183, 69);
}